<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Screen</title>

    <link rel="stylesheet" href="../static/product-screen.css">
</head>

<body>

    <!-- this is the code for header navigation bar -->
    <header class="primary-header">

        <nav class="navbar">
            <div>
                <img class="logo-image" src="../logo_image.png" alt="logo-image">
            </div>
            <ul id="primary-navigation" class="primary-navigation">
                <li class="nav_item">
                    <a href="/home-page">Home</a>
                </li>
                <li class="nav_item">
                    <a href="/product">Products</a>
                </li>
                <li class="nav_item">
                    <a href="/cart">Cart</a>
                </li>
                <li class="nav_item">
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </header>

    <p class="product_main_style">Men's wears</p>

    <div class="product_detail_container">

        <div class="inner_image_container">

            <img class="product_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_three.jpg"
                alt="Loading">

        </div>

        <div class="inner_details_container">


            <div class="text_area">
                <p class="product_title">Mynthrat Fashion Jeans wear (patched model)</p>
                <p class="product_features">Comfortable fit, Good Streach</p>
                <p class="product_ratings">13843 ratings</p>
                <p class="product_price">$234</p>
                <p class="product_hashtags">#mens-fashion #fashionwear #jeans_model #patched</p>

            </div>

            <div class="button_area">
                <div class="inner_btn_container">

                    <button class="inner_btn_style">Add to cart
                    </button>

                    <a href="/buy-now"><button class="inner_btn_style">
                        Buy now
                    </button></a>
                </div>



            </div>

        </div>

    </div>

    <hr>

    <p class="product_recom_style">Similar Products Recommended for you</p>

    <div class="recommended_container">

        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_four.jpg"
                alt="Loading">

            <p class="recom_title">Nike Men's casual wear shoes with leather coating</p>
            <p class="recom_ratings">5642 ratings</p>
            <p class="recom_price">$200.05</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_five.jpg"
                alt="Loading">

            <p class="recom_title">Trendy Men's court outfit linen coating</p>
            <p class="recom_ratings">6264 ratings</p>
            <p class="recom_price">$350.05</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_one.jpg"
                alt="Loading">

            <p class="recom_title">Raymond cotton coating outfit court light gray shade</p>
            <p class="recom_ratings">857 ratings</p>
            <p class="recom_price">$120.35</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_three.jpg"
                alt="Loading">

            <p class="recom_title">Woolen hoodies with cotten coating with eye glasses</p>
            <p class="recom_ratings">9871 ratings</p>
            <p class="recom_price">$450.58</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_two.jpg"
                alt="Loading">

            <p class="recom_title">Titan Watches Golden coating with radium touch</p>
            <p class="recom_ratings">5861 ratings</p>
            <p class="recom_price">$689.05</p>

        </div>

        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_one.jpg"
                alt="Loading">

            <p class="recom_title">Raymond cotton coating outfit court light gray shade</p>
            <p class="recom_ratings">6264 ratings</p>
            <p class="recom_price">$200.05</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_five.jpg"
                alt="Loading">

            <p class="recom_title">Trendy Men's court outfit linen coating</p>
            <p class="recom_ratings">6264 ratings</p>
            <p class="recom_price">$200.05</p>

        </div>
        <div class="recommended_card">

            <img class="recommend_inner_image"
                src="https://bucket-fashion.s3.jp-tok.cloud-object-storage.appdomain.cloud/cloud_image_four.jpg"
                alt="Loading">

            <p class="recom_title">Nike Men's casual wear shoes with leather coating</p>
            <p class="recom_ratings">6264 ratings</p>
            <p class="recom_price">$200.05</p>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "40072d56-fb6c-4240-9c90-f6e2bbcd9cd3",
            region: "eu-gb",
            serviceInstanceID: "365c5c99-5dd0-4a84-9ec2-24ba6029e35e",
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
</body>

</html>